@import "tailwindcss";

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb {
  background-color: #a78bfa; 
  border-radius: 4px;
}